@media screen and (max-width: 1366px) {
  #profile {
    height: 70vh;
    padding: 10vh 10vh 0 10vh;
    margin: 0px 0px;
  }
  #experience{
    height: 60vh;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
    margin-top: 5rem;
  }
  footer {
    height: 10vh;
  }
  .text-container p{
    font-size: 1.0rem;
  }
  .about-pic{
    height: 25vh;
  }
  .details-container {
    flex: 1 1 calc(33.333% - 16px);
  }
  .section-container{
    gap: 0.5rem;
  }
  article{
    width: 8rem;
  }
}

@media screen and (max-width: 1043px) {
  footer {
    height: 10vh;
  }
  #desktop-nav {
    display: none;
  }
  .sectionabout-container{
    display: flex;
    justify-content: space-around;
  }
  article{
    width: 8rem;
    gap: 1rem ;
    font-size: 0.8rem;
  }
  .article-container {
    gap: 1rem;
  }
  .about-pic {
    height: 35vh;
    align-items: center;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #experience{
    margin: 6rem ;
    padding: 2vh 4vh;
  }
  #profile{
    height: 65vh;
    padding: 15vh 10vh 0 10vh;
    margin: 0px 0px;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  #experience .about-containers {
    margin-top: 0;
    flex-direction: column;
  }
  .text-container p{
    font-size: 1.1rem;
  }
  #projects {
    height: fit-content;
    margin-top: 10rem;
  }
  #projects .details-container {
    flex: 1 1 calc(12% - 16px);
  }
}



@media screen and (max-width: 590px) {
  .text-container p{
    font-size: 1rem;
  }
  #contact,
  footer {
    height: 20vh;
  }
  .about-pic {
    height: 25vh;
    align-items: center;
  }
  #profile {
    height: 60vh;
    padding: 15vh 5vh 0 5vh;
    margin: 0px 0px;
  }
  #experience{
    margin: 2vh 2vh ;
    padding: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .contact-info-container{
    margin: 0 1vh;
  }
}

@media screen and (max-width: 400px) {
  .text-container p{
    font-size: 0.9rem;
  }
}